# Introducción a Python

este notebook es material complementario del taller DG
https://tutorial.djangogirls.org/es/python_introduction/
por favor dirigete a la pagina donde encontraras la teoria y vuelve para las ejecuciones y jugar con el codigo ;)

##  Operaciones

In [2]:
2 + 3

5

In [3]:
4 * 5

20

In [4]:
5 - 1

4

In [5]:
40 / 2

20.0

## exponenciales

In [6]:
2 ** 3

8

## Cadenas de caracteres

In [7]:
"Ola"

'Ola'

In [8]:
"Hi there " + "Ola"

'Hi there Ola'

In [9]:
"Ola" * 3

'OlaOlaOla'

In [10]:
"Runnin' down the hill"

"Runnin' down the hill"

In [11]:
'Runnin\' down the hill'

"Runnin' down the hill"

In [12]:
"Ola".upper()

'OLA'

In [13]:
len("Ola")

3

In [14]:
len(304023)

TypeError: object of type 'int' has no len()

In [15]:
len(str(304023))

6

## variables

In [16]:
name = "Ola"

In [17]:
name

'Ola'

In [18]:
name = "Sonja"

In [19]:
name

'Sonja'

In [20]:
len(name)

5

In [21]:
a = 4
b = 6
a * b

24

In [24]:
city = "Tokyo"

In [25]:
ctiy

NameError: name 'ctiy' is not defined

In [27]:
city

'Tokyo'

## La función print

In [28]:
name = 'Maria'

In [29]:
name

'Maria'

In [30]:
print(name)

Maria

## Listas

In [31]:
[]

[]

In [32]:
lottery = [3, 42, 12, 19, 30, 59]

In [33]:
len(lottery)

6

In [34]:
 lottery.sort()

In [35]:
 print(lottery)

[3, 12, 19, 30, 42, 59]

In [36]:
lottery.reverse()

In [37]:
print(lottery)

[59, 42, 30, 19, 12, 3]

In [38]:
lottery.append(199)

In [39]:
print(lottery)

[59, 42, 30, 19, 12, 3, 199]

In [40]:
print(lottery[0])

59

In [41]:
print(lottery[1])

42

In [42]:
print(lottery)

[59, 42, 30, 19, 12, 3, 199]

In [43]:
print(lottery[0])

59

In [44]:
lottery.pop(0)

59

In [45]:
print(lottery)

[42, 30, 19, 12, 3, 199]

## Diccionarios

In [46]:
{}

{}

In [47]:
participant = {'name': 'Ola', 
               'country': 'Poland', 
               'favorite_numbers': [7, 42, 92]
              }

In [48]:
print(participant['name'])

Ola

In [49]:
participant['age']

KeyError: 'age'

In [50]:
participant['favorite_language']

KeyError: 'favorite_language'

In [51]:
len(participant)

3

In [52]:
participant.pop('favorite_numbers')

[7, 42, 92]

In [53]:
participant

{'country': 'Poland', 'name': 'Ola'}

In [54]:
participant['country'] = 'Germany'

In [55]:
participant

{'country': 'Germany', 'name': 'Ola'}

## Compara cosas

In [ ]:
5 > 2

In [ ]:
3 < 1

In [ ]:
5 > 2 * 2

In [ ]:
1 == 1

In [ ]:
5 != 2

In [ ]:
6 >= 12 / 2

In [ ]:
3 <= 2

### operadores

In [ ]:
6 > 2 and 2 < 3

In [ ]:
3 > 2 and 2 < 1

In [ ]:
3 > 2 or 2 < 1

## Boolean

In [ ]:
a = True

In [ ]:
a

In [ ]:
a = 2 > 5

In [ ]:
a

In [ ]:
True and True

In [ ]:
False and True

In [ ]:
True or 1 == 1

In [ ]:
1 != 2

# Editor

In [ ]:
if 3 > 2:

In [ ]:
if 3 > 2:
    print('It works!')

In [ ]:
if 5 > 2:
    print('5 is indeed greater than 2')
else:
    print('5 is not greater than 2')

In [ ]:
name = 'Sonja'
if name == 'Ola':
    print('Hey Ola!')
elif name == 'Sonja':
    print('Hey Sonja!')
else:
    print('Hey anonymous!')

In [ ]:
volume = 57
if volume < 20:
    print("It's kinda quiet.")
elif 20 <= volume < 40:
    print("It's nice for background music")
elif 40 <= volume < 60:
    print("Perfect, I can hear all the details")
elif 60 <= volume < 80:
    print("Nice for parties")
elif 80 <= volume < 100:
    print("A bit loud!")
else:
    print("My ears are hurting! :(")

In [ ]:
if volume < 20 or volume > 80:
    volume = 50
    print("That's better!")

# Funciones

In [ ]:
def hi():
    print('Hi there!')
    print('How are you?')

hi()

In [ ]:
def hi(name):

In [ ]:
def hi(name):
    if name == 'Ola':
        print('Hi Ola!')
    elif name == 'Sonja':
        print('Hi Sonja!')
    else:
        print('Hi anonymous!')

hi()

In [ ]:
hi("Ola")

In [ ]:
hi("Sonja")

In [ ]:
def hi(name):
    print('Hi ' + name + '!')

hi("Rachel")

## Bucles

In [ ]:
girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']

In [ ]:
for name in girls:

In [ ]:
def hi(name):
    print('Hi ' + name + '!')

girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']
for name in girls:
    hi(name)
    print('Next girl')

In [ ]:
for i in range(1, 6):
    print(i)